<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="localhost.gdUnit4.api" value=".\api\bin\Debug\" />
    <add key="localhost.gdUnit4.test.adapter" value=".\testadapter\bin\Debug\" />
  </packageSources>
</configuration>
