<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- This configuration is only for local testing
    <packageSources>
      <clear/>
      <add key="gdUnit4.api" value="./../Api/nupkg"/>
      <add key="gdUnit4.test.adapter" value="./../TestAdapter/nupkg"/>
      <add key="gdUnit4.analyzers" value="../Analyzers/nupkg"/>
    </packageSources>
    <disabledPackageSources>
      <add key="nuget.org" value="true"/>
    </disabledPackageSources>
  -->
</configuration>
