# Project-specific ignores
.history
.godot
bin/
obj/
.generated/
*.*.import
TestResults/

# Mono-specific ignores
.mono/
data_*/
mono_crash.*.json

# System/tool-specific ignores
.directory
*~
.DS_Store
.vs/

.fake
.ionide
