<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom Ruleset" Description="Custom Ruleset" ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1009" Action="None"/> <!-- Disable A closing parenthesis within a C# statement is not spaced correctly Rules-->
    <Rule Id="SA1135" Action="None"/> <!-- Disable A using directive is not qualified. Rules-->
    <Rule Id="SA1503" Action="None"/> <!-- Disable BracesMustNotBeOmitted -->
    <Rule Id="SA1520" Action="None"/> <!-- Disable The opening and closing braces of a chained Rules-->

    <Rule Id="SA1201" Action="Error"/> <!-- Elements should appear in the correct order -->
    <Rule Id="SA1202" Action="Error"/> <!-- Elements should be ordered by access -->
    <Rule Id="SA1203" Action="Error"/> <!-- Constants should appear before fields -->
    <Rule Id="SA1204" Action="Error"/> <!-- Static elements should appear before instance elements -->
    <Rule Id="SA1206" Action="Error"/> <!-- Declaration Keywords Must Follow Order-->
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0011" Action="None"/> <!-- Disable Add braces to 'if' statement -->
    <!-- Disable C# 12 collection expression suggestions -->
    <Rule Id="IDE0028" Action="None"/>
    <Rule Id="IDE0290" Action="None"/>
    <Rule Id="IDE0300" Action="None"/>
    <Rule Id="IDE0301" Action="None"/>
    <Rule Id="IDE0303" Action="None"/>
    <Rule Id="IDE0305" Action="None"/>
    <Rule Id="IDE0306" Action="None"/>
  </Rules>
</RuleSet>
