<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom Ruleset" Description="Custom Ruleset" ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0011" Action="None"/> <!-- Disable curly braces { } to surround code blocks. -->
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1503" Action="None"/> <!-- Disable BracesMustNotBeOmitted -->
    <Rule Id="SA1206" Action="None"/> <!-- Disable StyleCop specific Ordering Rules-->

  </Rules>
</RuleSet>
