<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Test Rules" Description="Rules for test projects" ToolsVersion="16.0">

  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0073" Action="None"/> <!-- Disable Require file header -->
    <Rule Id="CS1591" Action="None"/> <!-- Disable Require Class documentaion -->

    <!-- Disable C# 12 collection expression suggestions -->
    <Rule Id="IDE0028" Action="None"/>
    <Rule Id="IDE0290" Action="None"/>
    <Rule Id="IDE0300" Action="None"/>
    <Rule Id="IDE0301" Action="None"/>
    <Rule Id="IDE0303" Action="None"/>
    <Rule Id="IDE0305" Action="None"/>
    <Rule Id="IDE0306" Action="None"/>
  </Rules>

  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1633" Action="None"/> <!-- File should have header -->
    <Rule Id="SA1635" Action="None"/> <!-- File header must have copyright text -->
    <Rule Id="SA1600" Action="None"/> <!-- Disable ElementsMustBeDocumented -->
    <Rule Id="SA1601" Action="None"/> <!-- Disable Partial elements should be documented -->
    <Rule Id="SA1206" Action="None"/> <!-- Disable StyleCop specific Ordering Rules-->
  </Rules>
</RuleSet>
