<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Test Rules" Description="Rules for test projects" ToolsVersion="16.0">

  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0073" Action="None"/> <!-- Disable Require file header -->
    <Rule Id="CS1591" Action="None"/> <!-- Disable Require Class documentaion -->
  </Rules>

  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1633" Action="None"/> <!-- File should have header -->
    <Rule Id="SA1635" Action="None"/> <!-- File header must have copyright text -->
    <Rule Id="SA1206" Action="None"/> <!-- Disable StyleCop specific Ordering Rules-->
  </Rules>
</RuleSet>
