name: 'Publish Test Report'
on:
  workflow_run:
    workflows: ['ci-pr']  # runs after ci-pr workflow
    types:
      - completed
  workflow_dispatch:
    inputs:
      workflow_run_id:
        description: 'ID of the workflow run to download artifacts from.'
        required: true
        default: ''

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  publish-reports:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        godot-version: ['4.2', '4.2.1', '4.2.2']
        godot-status: ['stable']
        include:
          - godot-version: '4.3'
            godot-status: 'beta1'

    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: .github

      # publish Run gdUnit4-action results
      - name: Download action tests artifacts
        uses: actions/download-artifact@v4.1.7
        with:
          name: artifact_action_example_Godot${{ matrix.godot-version }}-${{ matrix.godot-status }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: MikeSchulze/gdUnit4Net
          run-id: ${{ github.event.inputs.workflow_run_id || github.event.workflow_run.id }}

      - name: Publish action Test Results
        uses: dorny/test-reporter@v1.9.1
        with:
          name: report_action_example_Godot${{ matrix.godot-version }}-${{ matrix.godot-status }}
          # using artifact to download is broken since download-artifact@v4 see https://github.com/dorny/test-reporter/issues/363
          # We do the download manually on step `Download artifacts`
          #artifact: artifact_gdUnit4_Godot${{ matrix.godot-version }}-${{ matrix.godot-status }}${{ matrix.godot-net }}
          path: './home/runner/work/gdUnit4Net/gdUnit4Net/example/reports/*.xml'
          reporter: dotnet-trx
          fail-on-error: 'false'
          fail-on-empty: 'false'

      # publish API Tests results
      - name: Download API tests artifacts
        uses: actions/download-artifact@v4.1.7
        with:
          name: artifact_api_tests_Godot${{ matrix.godot-version }}-${{ matrix.godot-status }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: MikeSchulze/gdUnit4Net
          run-id: ${{ github.event.inputs.workflow_run_id || github.event.workflow_run.id }}

      - name: Publish API Test Results
        uses: dorny/test-reporter@v1.9.1
        with:
          name: report_api_tests_Godot${{ matrix.godot-version }}-${{ matrix.godot-status }}
          # using artifact to download is broken since download-artifact@v4 see https://github.com/dorny/test-reporter/issues/363
          # We do the download manually on step `Download artifacts`
          #artifact: artifact_gdUnit4_Godot${{ matrix.godot-version }}-${{ matrix.godot-status }}${{ matrix.godot-net }}
          path: './home/runner/work/gdUnit4Net/gdUnit4Net/test/TestResults/*.trx'
          reporter: dotnet-trx
          fail-on-error: 'false'
          fail-on-empty: 'false'
